[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-oepv/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-oepv/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-oepv/orders-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-oepv/payments-ms.git
